<div class="container flex homeLogo">
    <img src="assets/images/zeroneLogo.png"  alt="logo" class="rounded mx-auto d-block">
    <h1>
        Employee Records
    </h1> 
</div>

<div>
    <p appHighlight >
        Its a portal to add new employee , view the list of existing employees and maintain these records.
    </p>
    <!-- <img 
    [src]="https://www.bain.com/contentassets/d2c77dd7dd76486990e481a3df68868a/tech-hardware-16_9.jpg" 
    alt="image" 
    class="img-responsive" 
    style="max-height: 500px;"> -->
</div>

<!-- <button kendoButton (click)="open()" themeColor="primary">Dialog</button> -->
