<!-- <div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success"
        routerLink="addNewEmployee"

        >ADD</button>
    </div>
</div> -->
<div>
    Auth!
    <!-- <code>{{ (user | async)?.uid }}</code> -->
</div>
<div class="row">
    <div class="col-md-5">
        <app-employee-record
        *ngFor = "let item of item$ ; let i= index"
        [employee]="item.record"
        [index] = "item.id" 
        ></app-employee-record>
    </div>
    <div class="col-md-6">
        <router-outlet></router-outlet>
    </div>
</div>